
.text-align-center{
    text-align: center;
}

.photo1{
    height: auto;
    width: 30%;   
}


.background {
    background-color: #86B3D1;
   
}

p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
}

